{% extends "master/index.html" %}

{% block content %}
	<div id="plnc">
		Zlecenia pary walutowej flt/gld
	</div>
	<div id="plnclewa">
		<table>
		  <tr>
		    <th colspan="2" class="tytul">kupno</th>
		  </tr>	
		  <tr>
		    <th>Ilość</th>
		    <th>Wartość</th>
		  </tr>
		  <tr>
		    <td>33</td>
		    <td>660</td>
		  </tr>
		  <tr>
		  	<td>55</td>
		  	<td>643</td>
		  </tr>
		  <tr>
		  	<td>20</td>
		 	<td>643</td>
		  </tr>
		  <tr>
		  	<td>435</td>
		  	<td>700</td>
		  </tr>
		</table>
	</div>
	<div id="plncprawa">
		<table>
		  <tr>
		    <th colspan="2" class="tytul">sprzedaż</th>
		  </tr>	
		  <tr>
		    <th>Ilość</th>
		    <th>Wartość</th>
		  </tr>
		  <tr>
		    <td>33</td>
		    <td>660</td>
		  </tr>
		  <tr>
		  	<td>55</td>
		  	<td>643</td>
		  </tr>
		  <tr>
		  	<td>20</td>
		 	<td>643</td>
		  </tr>
		  <tr>
		  	<td>435</td>
		  	<td>700</td>
		  </tr>
		</table>
	</div>
{% endblock %}