{% extends "master/index.html" %}

{% block content %}
	<div id="plnc">
		Zlecenia pary walutowej plnc/gld
	</div>
	<div id="plnclewa">
		<table>
		  <tr>
		    <th colspan="2" class="tytul">kupno</th>
		  </tr>	
		  <tr>
		    <th>Ilość</th>
		    <th>Wartość</th>
		  </tr>
		  <tr>
		    <td>33</td>
		    <td>660</td>
		  </tr>
		  <tr>
		  	<td>55</td>
		  	<td>643</td>
		  </tr>
		  <tr>
		  	<td>20</td>
		 	<td>643</td>
		  </tr>
		  <tr>
		  	<td>435</td>
		  	<td>700</td>
		  </tr>
		</table>
	</div>
	<div id="plncprawa">
		<table>
		  <tr>
		    <th colspan="2" class="tytul">sprzedaż</th>
		  </tr>	
		  <tr>
		    <th>Ilość</th>
		    <th>Wartość</th>
		  </tr>
		  <tr>
		    <td>33</td>
		    <td>660</td>
		  </tr>
		  <tr>
		  	<td>55</td>
		  	<td>643</td>
		  </tr>
		  <tr>
		  	<td>20</td>
		 	<td>643</td>
		  </tr>
		  <tr>
		  	<td>435</td>
		  	<td>700</td>
		  </tr>
		</table>
	</div>
	<div id="pln">
	{% if local.request.user.is_authenticated %}
	<font size=3>zlecenie</font>
	<br>
	<br>
		<form method="post" action="/user/register/">                     
		<label>Ilość:</label><br><input name="quantity" type="text"><br/>            
		<label>Wartość:</label><br><input name="price" type="text"><br/> 
		<label>Typ:</label><input type="radio" name="typ" value="kupno" checked="checked" />Kupno
		<input type="radio" name="typ" value="sprzedaz" />Sprzedaż<br>                        
		<input type="submit" value="Złóż zlecenie" id="some_name"/> 
		</form>
	{%endif%}
	</div>
{% endblock %}