<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BitMarket - Cryptocurrency marketplace</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/style.css" media="screen" />
</head>

<body>

    <div id="top">
    	<div id="top_witaj">
    	{% if local.request.user.is_authenticated %}
			    <p id="witaj">Witaj, <b id="username">{{ local.request.user.username }}</b>.</p>
			    <p id="wylogowanie_link"><a href="/user/logout/">Wyloguj</a></p>
			   	<p id="panel_admina"><a class="panel" href="/admin">Panel</a></p>
		{% else %}
				<p id="logowanie_formularz">
			    <form method="post" action="/user/login/" id="logowanie_form">                     
			    	<span id="logowaniePole"> <input name="username" type="text"> </span>               
			    	<span id="passPole"> <input name="password" type="password"></span>                        
			    </form></p>
			    <p id="logowanie_link"><a href="/user/login/" onclick="document.getElementById('logowanie_form').submit(); return false;">Logowanie</a></p>
			   <p id="rejestracja_link"><a href="/user/registerpage/">Rejestracja</a></p>
		{% endif %}
		</div>
	
		</div>
    
    <div id="header">
    	
    	<h1><a href="/">BitMarket</a>{% block header%}
	{% endblock %}</h1>
    	
        <ul>
   	    	<li><p><a href="/aboutus">About Us</a></p></li>
           	<li><p><a href="/market">Market</a></p></li>
           	<li><p><a href="/contact">Contact</a></p></li>
        </ul>
    </div>
    		

    <div id="main2">
        	<div id="news">
        		{% block content %}
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            	{% endblock %}
            </div>
    </div>
    <div id="nawigacja">
            	<p id="nawigacjaP">
                </p>
                	{% block sidebar %}
            		<ul>
                    	<li><a href="/user/plnc/"><p>PLNC/GLD</p></a></li>
                        <li><a href="/user/flt/"><p>FLT/GLD</p></a></li>
                    </ul>
                    {% endblock %}
	</div>
    
    <div id="down"></div>
    
    <div id="footer"></div>
    
</body>
</html>
