<script type="text/javascript" src="{{ STATIC_URL }} /static/javascript/jquery.ba-serializeobject.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }} /static/javascript/jquery.dajax.core.js"></script>
{% load dajaxice_templatetags %}
{% dajaxice_js_import %}
<script type="text/javascript">
function AutoRefresh() {
	Dajaxice.BitMarket.index.createDepositView(Dajax.process);

	var refresh_rate = 20;
	var last_user_action = 0;
	var has_focus = false;

	

	function reset() {
		last_user_action = 0;
	}

	function windowHasFocus() {
		has_focus = true;
	}

	function windowLostFocus() {
		has_focus = false;
	}

	setInterval(function() {
		last_user_action++;
		refreshCheck();
	}, 1000);

	function refreshCheck() {
		var focus = window.onfocus;
		if (last_user_action >= refresh_rate && document.readyState == "complete") {

			Dajaxice.BitMarket.index.createDepositView(Dajax.process);
			reset();

		}

	}


	window.addEventListener("focus", windowHasFocus, false);
	window.addEventListener("blur", windowLostFocus, false);
	window.addEventListener("click", reset, false);
	window.addEventListener("mousemove", reset, false);
	window.addEventListener("keypress", reset, false);
}

$(document).ready(AutoRefresh);
	
</script>

<div id="deposit_view"></div>