{% if local.request.user.is_authenticated %}
<style>
#depositWithdraw {
	padding-left: 11px;
	padding-right: 11px;
	margin-top: 30px;
	color: #333366; 
	font: 1.0em tahoma,verdana, arial, sans-serif;
	text-decoration: none;
}

#depositWithdraw #adresPortfela {
	padding: 11px 20px 10px; 
	color: #3399cc; 
	font: bold 2.0em tahoma,verdana, arial, sans-serif;
	text-decoration: none;
}

#depositWithdraw a{
	
	color: #333366; 
	font: bold 1.0em tahoma, verdana, arial, sans-serif;
	text-decoration: none;
}

#depositWithdraw a:hover{
	color: #7a8090; 
}


#depositWithdraw .amount{
	
	color: #3399cc; 
	font: bold 1.2em tahoma, verdana, arial, sans-serif;
	text-decoration: none;
}

</style>


<div id="depositWithdraw">
	<p>Jeżeli chcesz wpłacić <strong class="wallet">{{local.wallet}}</strong> na swoje konto, wyślij je na adres:</p>
	<div id="adresPortfela">{{local.accountAddresses}}</div>
	<p>Jeśli wpłaciłeś środki na podany wyżej adres, kliknij <a href="/user/deposit/{{local.wallet}}">Potwierdź</a></p>
	<p>Wpłaciłeś <strong class="amount">{{local.amount}}</strong> na swoje konto.</p>
	<p>Operacja może potrwać kilka minut, w zależności od kryptowaluty.</p>
</div>

{% endif %} 