{% extends "master/index.html" %}

{% block content %}

<link rel="stylesheet" href="{{ STATIC_URL }} /static/css/table.css" />
<script type="text/javascript">
	$(document).ready(function(){
		Dajaxice.BitMarket.index.createCommissionsHistory(Dajax.process);
		
		
	});
	
</script>


{% if local.request.user.is_authenticated %}
<p id="tradeHistoryImage"></p>
<hr />

<div id="commisions_history_table"></div>
	<!-- <table class="konto">	
					 <tr>
					   <th>para walutowa:</th>
					   <th>data realicacji:</th>
					   <th>typ realicacji:</th>
					   <th>ilosc:</th>
					   <th>cena:</th>
					 </tr>
					 {% for history in local.userhistories %}
					 	{% if history.commission_id == None%}
					 		<tr>
					   			<td>{{history.cryptocurrency_sold.name}}/{{history.cryptocurrency_bought.name}}</td>
					   			<td>{{history.executed_time}}</td>
					   			<td>
					   			{% if history.purchaser != None %}
					   				sprzedane/kupione
					   			{%endif%}
					   			{% if history.purchaser == None and executed_time != None%}
					   				anulowane
					   			{%endif%}
					   			{% if history.purchaser == None and executed_time == None%}
					   				przeterminowane
					   			{%endif%}
					   			</td>
					   			<td>{{history.amount_sold}}{{history.cryptocurrency_sold.name}} {{history.amount_bought}}{{history.cryptocurrency_bought.name}} </td>
					   			<td>{{history.sold_price}}</td>
					   		</tr>
					   	{%endif%}
					 {%endfor%}
	</table>
</p>
{% endif %}  -->
{% endblock %}