{% extends "master/index.html" %}
{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }} /static/css/table.css" />
	{% if local.request.user.is_authenticated %}
			<div>
				<font size=4> Konto użytkownika {{local.request.user.username}}</font>
			</div>
			<div>
				<table>	
					 <tr>
					   <th>Portfel</th>
					   <th>Wartość</th>
					 </tr>
					 <tr>
					   <td>całkowity:</td>
					   <td>{{local.account}}</td>
					 </tr>
					 {% for wallet in local.wallets %}
					 <tr>
					   <td>{{wallet.cryptocurrency.name}}:</td>
					   <td>{{wallet.account_balance}}</td>
					 </tr>
					 {%endfor%}
				</table>
				
				<table>	
					 <tr>
					   <td>zlecenia aktywne:</td>
					   {% for history in local.userhistory %}
					   <td>{{history.history.seller.username}}</td>
					   {%endfor%}
					 </tr>
				</table>
			</div>    
	{% endif %} 
{% endblock %}