{% extends "master/index.html" %}
{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }} /static/css/table.css" />
	{% if local.request.user.is_authenticated %}
			<div id="konto">
				<br>
				<font size=4> Konto użytkownika {{local.request.user.username}}</font>
			</div>
			<div>
			<table width="100%">
			<tr>
				<td>
				<table class="comm_table">	
					 <tr class="comm_table">
					   <th class="comm_table">Portfel</th>
					   <th class="comm_table">Wartość</th>
					   <th class="comm_table">Zlecenie</th>
					 </tr>
					 {% for wallet in local.wallets %}
					 <tr class="comm_table">
					   <td class="comm_table">{{wallet.cryptocurrency.name}}:</td>
					   <td class="comm_table">{{wallet.account_balance}}</td>
					   <td class="comm_table"><input type="submit" value="wpłać na portfel" id="wp"/> <input type="submit" value="wypłać z portfela" id="wyp"/></td>
					 </tr>
					 {%endfor%}
				</table>
				</td>
				<td>
				<table class="comm_table">	
					 <tr class="comm_table">
					   <th colspan="4">zlecenia aktywne:</th>
					 </tr>
					 <tr class="comm_table">
					   <th class="comm_table">para walutowa:</th>
					   <th class="comm_table">ilosc:</th>
					   <th class="comm_table">cena:</th>
					   <th> </th>
					 </tr>
					 {% for history in local.userhistories %}
					 	{% if history.commission_id != None%}
					 		<tr class="comm_table">
					   			<td class="comm_table">{{history.cryptocurrency_sold.name}}/{{history.cryptocurrency_bought.name}}</td>
					   			<td class="comm_table">{{history.amount_sold}}{{history.cryptocurrency_sold.name}} {{history.amount_bought}}{{history.cryptocurrency_bought.name}} </td>
					   			<td class="comm_table">{{history.sold_price}}</td>
					   			<td class="comm_table"><a href=""> Anuluj </a></td>
					   		</tr>
					   	{%endif%}
					 {%endfor%}
				</table>
				</td>
				</tr>
			<tr>
				<td colspan="2">
				<table class="comm_table">	
					 <tr class="comm_table">
					   <th colspan="5">zlecenia nieaktywne:</th>
					 </tr>
					 <tr class="comm_table">
					   <th class="comm_table">para walutowa:</th>
					   <th class="comm_table">data realicacji:</th>
					   <th class="comm_table">typ realicacji:</th>
					   <th class="comm_table">ilosc:</th>
					   <th class="comm_table">cena:</th>
					 </tr>
					 {% for history in local.userhistories %}
					 	{% if history.commission_id == None%}
					 		<tr class="comm_table">
					   			<td class="comm_table">{{history.cryptocurrency_sold.name}}/{{history.cryptocurrency_bought.name}}</td>
					   			<td class="comm_table">{{history.executed_time}}</td>
					   			<td class="comm_table">
					   			{% if history.purchaser != None %}
					   				sprzedane/kupione
					   			{%endif%}
					   			{% if history.purchaser == None and executed_time != None%}
					   				anulowane
					   			{%endif%}
					   			{% if history.purchaser == None and executed_time == None%}
					   				przeterminowane
					   			{%endif%}
					   			</td>
					   			<td class="comm_table">{{history.amount_sold}}{{history.cryptocurrency_sold.name}} {{history.amount_bought}}{{history.cryptocurrency_bought.name}} </td>
					   			<td class="comm_table">{{history.sold_price}}</td>
					   		</tr>
					   	{%endif%}
					 {%endfor%}
				</table>
				</td>
			</tr>
			<tr>
				<td> <font size="1"> <a href=""> Zmień hasło </a> </font></td>
			</tr>
			</table>
			</div>    
	{% endif %} 
{% endblock %}