{% extends "master/index.html" %}
{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }} /static/css/table.css" />
<script type="text/javascript" src="{{ STATIC_URL }} /static/javascript/autorefresh.js" ></script>
<script type="text/javascript"> 
	$(document).ready(
		AutoRefreshWallet('PLN', 'GLD')
	);	
</script>
		
	<div id="tables">
		<table>
		<tr>
			<td>
				<div id="left_table"></div>
			</td>
				
			<td>	
			<div id="right_table"></div>
			</td>
		</tr>
		<tr>
			<td>
			<div id="bot_right_table">prawydiw</div>
			</td>
			<td>
			<div id="bot_left_table">lewydiw</div>
			</td>
		</tr>
		</table>
	</div>	
		
{% endblock %}

{% block header %}
	<label>PLNC/GLD</label>

{% endblock%}
