{% extends "master/index.html" %}

{% block content %}

<p id="marketImage"></p>
<hr />

					{% if local.latest_crypto_list %}
					{% for news in local.latest_crypto_list %}
					<h2 class="tytul">{{ news.tytul }}</h2>
					<p class="kategoria">
					dodano: <strong class="niebieski">{{ news.pub_date }} </strong>przez: <strong class="niebieski">{{ news.autor }}</strong>
					</p>
					
					<p class="trescKrypto">
						<img class="obrazekKrypto" src="{{ STATIC_URL }}/../{{ news.obrazek }}"/>
						{{ news.text }}
					</p>
					<p class="link"><a href="{{ news.link }}">Pobierz portfel {{ news.tytul }}.</a></p>
					<br/>

					<hr />
					{% endfor %}
					{% else %}
					<h2 class="tytul">Brak kryptowalut.</h2>
					{% endif %}

{% endblock %}