@charset "utf-8";
/* CSS Document */

/* reset marginesów oraz dopełnień */
html, body, ul, li { margin: 0; padding: 0;}

/* reset wysokości linii i fontu */
h1, h2, ul, li, p { margin: 0; padding: 0; font-size: 1em; line-height: 1.5em;}

/* ustawienia globalne */
body { font: 0.625em/1.5em tahoma, verdana, arial, sans-serif; background-color: #282d3a;}

/* szerokość strony */
.content { width: 960px;}

/* resetowanie ramek obrazków */
a img { border: none;}
/* TOP strony - czarny pasek gorny */

#konto{
	text-align: center;
}

#top {
	background-color: #1b1c1d;
	width: 100%;
	height: 50px;
	position: relative;
}

#top a{
	color: #7A8090;
	
}
#top p{
	color: #FFFFFF;
}
#top #top_witaj {
	position: absolute;
	margin-left: 15%;
	margin-top: 10px;
	float: left;
}

#top #top_witaj #logowanie_formularz{
}


#top #top_witaj #logowanie_link{
	float: left;
	margin-top: -33px;
	margin-left: 300px;
}

#top #top_witaj #rejestracja_link{
	float: left;
	margin-top: -33px;
	margin-left: -33px;
}

#top #top_witaj a{
	display: block;
	padding: 11px 26px 10px; 
	color: #7a8090; 
	font: bold 1.5em tahoma, verdana, arial, sans-serif;
	text-decoration: none;
}



#top #top_witaj a:hover{
	color: #ffffff;
}

#top #top_witaj #witaj{
	float: left;
}

#top #top_witaj #wylogowanie_link{
	float: left;
	margin-top: -12px;

}
#top #top_witaj #panel_admina{
	float: left;
	margin-top: -12px;
	margin-left: -30px;
}

#top #top_witaj #witaj{
	color: #7a8090; 
	font: bold 1.5em tahoma, verdana, arial, sans-serif;
	text-decoration: none;
}
#top #top_witaj #witaj #username{
	color: #ffffff;
}
/* HEADER czyli logo i menu */
#header {
	width: 1200px;
	margin-left: 200px;
	height:90px;
}

#header h1 {
	position: absolute;
	/*top: 90px;*/
	left: 20px;
	overflow: hidden;
	}

#header h1 a {
	display: block;
	width: 163px;
	height: 64px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -666em;
	}
	
#header ul { 
	bottom: 0; 
	margin-left: 565px; 
	margin-top: 40px;
	list-style: none;}
#header ul li { 
	float: left;
	margin-right: 1px;
	}
#header ul li a { 
	display: block; 
	padding: 11px 26px 10px; 
	color: #7a8090; 
	font: bold 1.5em tahoma, verdana, arial, sans-serif;
	text-decoration: none;
}
#header ul li a:hover { 
	background: url(../images/menuActive.png) top right repeat;
	color: #ffffff;
}

#header label{
	text-align: center;
	font-size: 30px;
	
}
/* MAIN content strona glowna logowanie rejestracja */
#main {
	width: 670px;
	margin-left: 290px;
	margin-top: 150px;
	height: 440px;
	background-color: #232631;
	position: relative;
	overflow: hidden;
}
#main #logowanie{
	position: absolute;
	overflow: hidden;
	height: 400px;
	width: 289px;
	margin-left: 20px;
	margin-top: 20px;
	background-color: #1d202a;
}
#main #logowanie p {
	width: 289px;
	height: 46px;
	background: url(../images/logowanie.jpg) top right no-repeat;
}
#rejestracja{
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	border-radius: 10px; 
	width: auto;
	height: 220px;
	margin-top: 5px;
	background-color: #1d202a;
}

#rejestracja label{
	color: #FFFFFF;
	display: block;
	width: 100px;
	height: 15px;
	margin-top: 5px;
	float: left;
	text-align: center; 
}
#rejestracja input{
	color: #1B1C1D;
	display: block;
	width: 100px;
	height: auto;
	margin-top: 5px;
	float: left;
	text-align: center; 
}

#rejestracja form{
	margin-left: 190px;
	margin-top: 5px;
	height: 25px;
	float: left;
	text-align: center; 
}

#main #rejestracja p {
	width: 289px;
	height: 46px;
	background: url(../images/rejestracja.jpg) top right no-repeat;
}

.registerHeader {
	width: 289px;
	height: 46px;
	background: url(../images/rejestracja.jpg) top right no-repeat;
	
}
/* DOWN strona z informacjami */
#down {
	background-color: #0f131f;
	height: 220px;
	width: 100%;
	margin-top: 20px;
}

#footer {
	background-color: #040507;
	height: 60px;
	width: 100%;}
	
.wrapper{
	width:1200px;
	margin:0 auto;
	position: relative;
}

/* MAIN2 Strone HOME po zalogowaniu */
#main2 {
	background-color: #1e212a;
	width: 1200px;
	/*margin-left: 170px;*/
	/*margin-top: 150px;*/

	/*position: relative;*/
	overflow: hidden;
	padding:20px;
	}
	
#main2 #news {
	background-color: #ffffff;
	width: 900px;
	/*margin: 20px;*/
	
	overflow: hidden;
	/*margin-right: 25px;
	margin-left: 17px;*/
	min-height: 400px;
	float: none;
}

#main2 #news p {
	margin: 10px;
}

#nawigacja {
	/*float: none;
	height: auto;
	margin: 0 auto;*/
	
	position: absolute;
	overflow: hidden;
	top: 70px;
	left: 950px;
	}
	
#nawigacja #nawigacjaP {
	margin-top: 40px;
	width: 268px;
	height: 48px;
	background: url(../images/siteNavigation.png) top right no-repeat;
	background-color: #eef0f5;
}

#nawigacja ul { 
	bottom: 0; 
	background-color: #eef0f5;
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;}
#nawigacja ul li { 
	float: none;
	margin-right: 1px;
	}
#nawigacja ul li a { 
	display: block;
	margin: 10px;
	width: 247px;
	height: 41px;
	color: #7a8090; 
	background: url(../images/miniMenuNo.jpg) top right repeat;
	font: bold 1.5em tahoma, verdana, arial, sans-serif;
	text-decoration: none;
}
#nawigacja ul li a p {
	margin-left: 20px;
	padding-top: 10px;
}
#nawigacja ul li a:hover { 
	background: url(../images/miniMenuYes.jpg) top right repeat;
	color: #ffffff;
}


/*#right_table{
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	height: 400px;
	overflow: scroll;
}

#left_table{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 400px;
	overflow: scroll;
}

#history_table{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 400px;
	overflow: scroll;
	
}
*/
