@charset "utf-8";
/* CSS Document */

/* reset marginesów oraz dopełnień */
html, body, ul, li { margin: 0; padding: 0;}

/* reset wysokości linii i fontu */
h1, h2, ul, li, p { margin: 0; padding: 0; font-size: 1em; line-height: 1.5em;}

/* ustawienia globalne */
body { font: 0.625em/1.5em tahoma, verdana, arial, sans-serif; background-color: #282d3a;
		background: url(../images/down.png) top right repeat;	
}

/* szerokość strony */
.content { width: 960px;}

/* resetowanie ramek obrazków */
a img { border: none;}
/* TOP strony - czarny pasek gorny */

#background {
	background: url(../images/top.png) top right repeat-x;

	position:relative;
}

#background #background2 {
	background: url(../images/kontakt.png) top right repeat-y;
	position: absolute;
	display:block;
	overflow:hidden;
}


#konto{
	text-align: center;
}

#top {
	/*background-color: #1b1c1d;*/
	width: 100%;
	height: 50px;
	position: relative;
}

#top a{
	color: #7A8090;
	
}
#top p{
	color: #FFFFFF;
}
#top #top_witaj {
	position: absolute;
	margin-left: 10%;
	margin-top: 18px;
	float: left;
}

#top #top_witaj #logowaniePole {
	color: #7a8090; 
	font: bold 1.5em tahoma, verdana, arial, sans-serif;
	text-decoration: none;
}

#top #top_witaj #passPole {
	color: #7a8090; 
	font: bold 1.5em tahoma, verdana, arial, sans-serif;
	text-decoration: none;
}



#top #top_witaj #logowanie_link{
	float: left;
	margin-top: -33px;
	margin-left: 400px;
}

#top #top_witaj #rejestracja_link{
	float: left;
	margin-top: -33px;
	margin-left: -33px;
}

#top #top_witaj a{
	display: block;
	padding: 11px 26px 10px; 
	color: #7a8090; 
	font: bold 1.5em tahoma, verdana, arial, sans-serif;
	text-decoration: none;
}



#top #top_witaj a:hover{
	color: #ffffff;
}

#top #top_witaj #witaj{
	float: left;
}

#top #top_witaj #wylogowanie_link{
	float: left;
	margin-top: -12px;

}
#top #top_witaj #panel_admina{
	float: left;
	margin-top: -12px;
	margin-left: -30px;
}

#top #top_witaj #aktywne_zlecenia{
	float: left;
	margin-top: -12px;
	margin-left: -30px;
}

#top #top_witaj #historia_zlecen{
	float: left;
	margin-top: -12px;
	margin-left: -30px;
}


#top #top_witaj #witaj{
	color: #7a8090; 
	font: bold 1.5em tahoma, verdana, arial, sans-serif;
	text-decoration: none;
}
#top #top_witaj #witaj #username{
	color: #ffffff;
}
/* HEADER czyli logo i menu */
#header {
	width: 1000px;
	margin-left: 200px;
	height:90px;
}

#header h1 {
	position: absolute;
	/*top: 90px;*/
	left: 20px;
	overflow: hidden;
	}

#header h1 a {
	display: block;
	width: 163px;
	height: 64px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -666em;
	}
	
#header ul { 
	bottom: 0; 
	margin-left: 565px; 
	margin-top: 40px;
	list-style: none;}
#header ul li { 
	float: left;
	margin-right: 1px;
	}
#header ul li a { 
	display: block; 
	padding: 11px 26px 10px; 
	color: #7a8090; 
	font: bold 1.5em tahoma, verdana, arial, sans-serif;
	text-decoration: none;
}
#header ul li a:hover { 
	background: url(../images/menuActive.png) top right repeat;
	color: #ffffff;
}

#header label{
	text-align: center;
	font-size: 30px;
	
}
/* MAIN content strona glowna logowanie rejestracja */
#main {
	width: 670px;
	margin-left: 290px;
	margin-top: 150px;
	height: 440px;
	background-color: #232631;
	position: relative;
	overflow: hidden;
}
#main #logowanie{
	position: absolute;
	overflow: hidden;
	height: 400px;
	width: 289px;
	margin-left: 20px;
	margin-top: 20px;
	background-color: #1d202a;
}
#main #logowanie p {
	width: 289px;
	height: 46px;
	background: url(../images/logowanie.jpg) top right no-repeat;
}
#rejestracja{
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	border-radius: 10px; 
	width: auto;
	height: 220px;
	margin-top: 5px;
	
}

#rejestracja label{
	padding-left: 11px;
	padding-right: 11px;
	
	color: #333366; 
	font: 1.5em tahoma,verdana, arial, sans-serif;
	text-decoration: none;
	display: block;
	width: 200px;
	
	margin-top: 5px;
	float: left;
	text-align: center; 
}
#rejestracja input{
	color: #1B1C1D;
	display: block;
	width: 100px;
	height: auto;
	margin-top: 5px;
	float: left;
	text-align: center; 
}

#rejestracja #some_name{
	margin-left: 150px;
}


#rejestracja form{
	margin-left: 190px;
	margin-top: 5px;
	height: 25px;
	float: left;
	text-align: center; 
}

/* DOWN strona z informacjami */
#down {
	background-color: #0f131f;
	height: 220px;
	width: 100%;
	margin-top: 20px;
}

#footer {
	background-color: #040507;
	height: 60px;
	width: 100%;}
	
.wrapper{
	width:1200px;
	margin:0 auto;
	position: relative;
}

/* MAIN2 Strone HOME po zalogowaniu */
#main2 {
	background-color: #1e212a;
	width: 1200px;
	/*margin-left: 170px;*/
	/*margin-top: 150px;*/
	margin: 0 auto;
	/*position: relative;*/
	overflow: hidden;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	}
	
#main2 #news {
	background-color: #ffffff;
	width: 910px;
	/*margin: 20px;*/
	overflow: hidden;
	/*margin-right: 25px;
	margin-left: 17px;*/
	min-height: 800px;
	height:100%;
	float: none;
}

#main2 #news #newsImage {
	background: url(../images/news_image.png) top right no-repeat;
	width: 90px;
	height: 26px;
	padding-left: 10px;
	margin-top: 10px;
}

#main2 #news #aboutUsImage {
	background: url(../images/o_nas.png) top right no-repeat;
	width: 107px;
	height: 26px;
	padding-left: 10px;
	margin-top: 10px;
}

#main2 #news #contactImage {
	background: url(../images/kontakt.png) top right no-repeat;
	width: 121px;
	height: 26px;
	padding-left: 10px;
	margin-top: 10px;
}

#main2 #news #marketImage {
	background: url(../images/kryptowaluty.png) top right no-repeat;
	width: 180px;
	height: 26px;
	padding-left: 10px;
	margin-top: 10px;
}

#main2 #news #userImage {
	background: url(../images/konto.png) top right no-repeat;
	width: 107px;
	height: 26px;
	padding-left: 10px;
	margin-top: 10px;
}

#main2 #news #btcGldImage {
	background: url(../images/btc_gld.png) top right no-repeat;
	width: 136px;
	height: 26px;
	padding-left: 10px;
	margin-top: 10px;
}

#main2 #news #btcLtcImage {
	background: url(../images/btc_ltc.png) top right no-repeat;
	width: 136px;
	height: 26px;
	padding-left: 10px;
	margin-top: 10px;
}

#main2 #news #rejestracjaImage {
	background: url(../images/rejestracja.png) top right no-repeat;
	width: 151px;
	height: 26px;
	padding-left: 10px;
	margin-top: 10px;
}

#main2 #news #tradeHistoryImage {
	background: url(../images/historia_zlecen.png) top right no-repeat;
	width: 193px;
	height: 26px;
	padding-left: 10px;
	margin-top: 10px;
}

#main2 #news #openOrdersImage {
	background: url(../images/aktywne_zlecenia.png) top right no-repeat;
	width: 223px;
	height: 26px;
	padding-left: 10px;
	margin-top: 10px;
}

#main2 #news hr{
	margin-left: 20px;
	margin-right: 20px;
}

#main2 #news .tresc {
	padding-left: 11px;
	padding-right: 11px;
	
	color: #333366; 
	font: 1.3em tahoma,verdana, arial, sans-serif;
	text-decoration: none;
}


#main2 #news p {
	margin: 10px;
}

#main2 #news .tytul {
	padding: 11px 20px 10px; 
	color: #3399cc; 
	font: bold 2.5em tahoma,verdana, arial, sans-serif;
	text-decoration: none;
}

#main2 #news .kategoria {
	padding-left: 11px;
	margin-top:-05px;
	color: #333366; 
	font: 1em tahoma,verdana, arial, sans-serif;
	text-decoration: none;
}

#main2 #news img {
	margin-left: 20px;
	width: 863px;
	height: 150px;
	padding:3px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
}

#main2 #news .tresc {
	padding-left: 11px;
	padding-right: 11px;
	
	color: #333366; 
	font: 1.3em tahoma,verdana, arial, sans-serif;
	text-decoration: none;
}

.niebieski {
	color: #3399cc; 
}

#nawigacja {
	float: none;
	height: auto;
	position: absolute;
	overflow: hidden;
	top: 70px;
	left: 930px;
	}
	
#nawigacja #nawigacjaP {
	margin-top: 40px;
	width: 268px;
	height: 48px;
	background: url(../images/siteNavigation.png) top right no-repeat;
	background-color: #eef0f5;
}

#nawigacja #chatNawigacja {
	width: 268px;
	height: 48px;
	background: url(../images/chat.png) top right no-repeat;
	background-color: #eef0f5;
}

#nawigacja #chatFormat {
	min-height: 350px;
	bottom: 0; 
	background-color: #eef0f5;
}

#nawigacja #chatFormat p {
	padding: 11px 26px 10px; 
	color: #7a8090; 
	font: bold 1.5em tahoma, verdana, arial, sans-serif;
	text-decoration: none;
}

#nawigacja #networkConnect {
	width: 268px;
	height: 48px;
	background: url(../images/network_connect.png) top right no-repeat;
	background-color: #eef0f5;
}

#nawigacja #networkFormat {
	min-height: 174px;
	bottom: 0; 
	background-color: #eef0f5;
}

#nawigacja #networkFormat p {
	padding: 11px 26px 10px; 
	color: #7a8090; 
	font: bold 1.5em tahoma, verdana, arial, sans-serif;
	text-decoration: none;
	margin-left: 30px;
}

#nawigacja ul { 
	bottom: 0; 
	background-color: #eef0f5;
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;}
#nawigacja ul li { 
	float: none;
	margin-right: 1px;
	}
#nawigacja ul li a { 
	display: block;
	margin: 10px;
	width: 247px;
	height: 41px;
	color: #7a8090; 
	background: url(../images/miniMenuNo.jpg) top right repeat;
	font: bold 1.5em tahoma, verdana, arial, sans-serif;
	text-decoration: none;
}
#nawigacja ul li a p {
	margin-left: 20px;
	padding-top: 10px;
}
#nawigacja ul li a:hover { 
	background: url(../images/miniMenuYes.jpg) top right repeat;
	color: #ffffff;
}


.konto a{
	display: block;
	padding: 5px 16px 10px; 
	color: #7a8090; 
	font: bold 1.0em tahoma, verdana, arial, sans-serif;
	text-decoration: none;
}

.konto a:hover{
	color: #ffffff;
}

.registerMsg{
	margin: 10px;
	font-size: x-large;
}

/*#right_table{
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	height: 400px;
	overflow: scroll;
}

#left_table{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 400px;
	overflow: scroll;
}

#history_table{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 400px;
	overflow: scroll;
	
}
*/
