strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

.comm_table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	margin: 30px auto;
	text-align: left;
}

#right_wallet,#left_wallet{
	color: green;
	
}

.sub_button{
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	color: aliceblue;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	border-left: 1px solid #555;
}

.form_table{
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	margin: 30px auto;
	text-align: left;
}

.form_table tr{
	vertical-align: baseline;
	
}

.comm_table tbody{
	height:300px; 
	overflow-y:overlay; 
	display:block;
	
}
.comm_table thead{
	display:block;
	
}

.comm_table th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  	font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
	max-width: 77px;
	min-width: 77px;
}

.comm_table th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

.comm_table th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

.comm_table th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

.comm_table td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
	max-width: 77px;
	min-width: 77px;
	text-align: center;
}

.comm_table td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

.comm_table td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

.comm_table tr {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

.comm_table tbody:hover tr:hover td {
	
	background: #777777;
}

/* history table */


.history_table tbody{
	height:300px; 
	overflow-y: overlay; 
	display:block;
	
}
.history_table thead{
	display:block;
	
}

.history_table th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  	font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
	max-width: 145px;
	min-width: 145px;
}

.history_table th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

.history_table th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

.history_table th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

.history_table td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
	max-width: 145px;
	min-width: 145px;
	text-align: center;
}

.history_table td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

.history_table td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

.history_table tr {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

.history_table tbody:hover tr:hover td {
	
	background: #777777;
}
/* konto */
.konto{
	background: #ffffff;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	margin: 30px auto;
	text-align: left;
	width: 100%
}
.konto tbody{
	height:300px; 
	overflow-y:overlay; 
	display:block;

}
.konto thead{
	max-width: 100%;
	min-width: 100%;
	display:block;

}

.konto th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  	font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
	padding: 10px 15px;
	transition: all 300ms;
	max-width: 43%;
	min-width: 43%;
	text-align: center;
}

.konto th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: relative;
	top: 25%;
	max-width: 33%;
	min-width: 33%;
}

.konto th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

.konto th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

.konto td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
	max-width: 50%;
	min-width: 50%;
	text-align: center;
}

.konto td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

.konto td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}

.konto tr {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

.konto tbody:hover tr:hover td {

	background: #777777;
}

.konto a{
    display: block;
    padding: 5px 16px 10px; 
    color: #7a8090; 
    font: bold 1.0em tahoma, verdana, arial, sans-serif;
    text-decoration: none;
}

.konto a:hover{
    color: #ffffff;
}

/* Open Orders */


.open_orders {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	margin: 30px auto;
	text-align: left;
}

.open_orders tbody{
	height:800px; 
	overflow-y:overlay; 
	display:block;
	
}
.open_orders thead{
	display:block;
	
}

.open_orders th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  	font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
	max-width: 95px;
	min-width: 95px;
}

.open_orders th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

.open_orders th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

.open_orders th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

.open_orders td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
	max-width: 95px;
	min-width: 95px;
	text-align: center;
}

.open_orders td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

.open_orders td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

.open_orders tr {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

.open_orders tbody:hover tr:hover td {
	
	background: #777777;
}



/* history of commissions  */

.history_commisions {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	margin: 30px auto;
	text-align: left;
}

.history_commisions tbody{
	height:800px; 
	overflow-y:overlay; 
	display:block;
	
}
.history_commisions thead{
	display:block;
	
}

.history_commisions th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  	font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
	max-width: 115px;
	min-width: 115px;
}

.history_commisions th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

.history_commisions th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

.history_commisions th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

.history_commisions td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
	max-width: 115px;
	min-width: 115px;
	text-align: center;
}

.history_commisions td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

.history_commisions td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

.history_commisions tr {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

.history_commisions tbody:hover tr:hover td {
	
	background: #777777;
}

