strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

.comm_table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	margin: 30px auto;
	text-align: left;
}

.comm_table tbody{
	height:300px; 
	overflow-y:scroll; 
	display:block;
	
}
.comm_table thead{
	display:block;
	
}

.comm_table th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  	font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
	width: 80px;
}

.comm_table th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

.comm_table th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

.comm_table th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

.comm_table td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
	width: 80px;
}

.comm_table td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

.comm_table td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

.comm_table tr {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

.comm_table tr:nth-child(odd) td {
	background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

.comm_table tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

.comm_table tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

.comm_table tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

.comm_table tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

.comm_table tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}