{% extends "master/index.html" %}
{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }} /static/css/table.css" />
<script type="text/javascript" src="{{ STATIC_URL }} /static/javascript/autorefresh.js" ></script>
<script type="text/javascript"> 
	$(document).ready(
		AutoRefreshWallet('BTC', 'GLDC')
	);	
</script>
		
	<div id="tables">
		<table>
		<tr>
			<td>
				<h3>Oferty Kupna</h3>
				<div id="left_table"></div>
			</td>
				
			<td>	
				<h3>Oferty Sprzedaży</h3>
				<div id="right_table"></div>
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<h3>Historia Operacji</h3>
				<div id="history_table"></div>
			</td>
		</tr>
		</table>
	</div>	
		
{% endblock %}

{% block header %}
	<label>PLNC/GLD</label>

{% endblock%}
